@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0 0;
    font-family: 'Poppins', sans-serif;
    /* color:black; */
}
body{
    background-image:  url(./BG.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}
body navbar{
    /* position: sticky; */
    display: flex;
    align-items: center ;
    justify-content: space-around;
    width:100vw;
    background-color: black;
    color:aqua ;
}
body navbar h1{
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body navbar .lg{
    padding: 2rem;
}
body navbar ul{
    display: flex;
    width: 20vw;
    justify-content: space-around;
    align-items: center ;
    list-style: none;
}
body navbar ul a:hover{
    color: #fff;
    letter-spacing: 0.5rem;
    font-weight: 600;
}
/* Main */
main{
    background-image: linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.8));
    line-height: 2rem;
}
main section jv,dsa,wd
{
    display:flex; 
    flex-flow: column wrap; 
    justify-content:center ;
    align-items: center;
    text-align: center;
}
main  h2{
    color: aqua;
}
main h2:hover{
    color: rgb(162, 247, 129);
}
main button{
    padding: 0.1rem 1rem 0.1rem 1rem ;
    background-color: #fff;
    border-radius: 1rem 1rem;
}
main button:hover{
    position: relative;
    bottom: 5px;;
    background-color: rgb(139, 231, 231);
    font-weight: 600; 
}
main a{
    color: #000;
    text-decoration: none;
}
main ds{
    display:flex;
    flex-flow: column wrap;
    justify-content:center ;
    align-items: center;
    padding: 3rem 3rem;
    line-height: 3rem;
}
/* Footer */
footer{
    position:static;
    bottom: 0;
    width: 100vw;
    background-color: #000;
    height:5rem;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    color:#fff;
} 
    footer ul{    
        display: flex;
        list-style: none;
        width: 30%;
        justify-content: space-around;
       
    }
    footer ul a{
        color:#fff;
        text-decoration: none; 
    }
    footer ul a:hover{    
        color:rgb(0, 255, 255);
    }